{% macro tech_stack() %}

<div>
    <div class="card m-2" style="display: inline-block;">
        <div class="card-body">
            <div class="card-title">Flask</div>
        </div>
    </div>
    <div class="card m-2" style="display: inline-block;">
        <div class="card-body">
            <div class="card-title">Bootstrap</div>
        </div>
    </div>
</div>

{% endmacro %}

{% macro azure_stack() %}
<div>
    <div class="card m-2" style="display: inline-block;">
        <div class="card-body">
            <div class="card-title">DevOps</div>
        </div>
    </div>
    <div class="card m-2" style="display: inline-block;">
        <div class="card-body">
            <div class="card-title">App Service</div>
        </div>
    </div>
    <div class="card m-2" style="display: inline-block;">
        <div class="card-body">
            <div class="card-title">App Service Plan</div>
        </div>
    </div>
</div>

{% endmacro %}